.Review {
  border-bottom: 1px solid var(--colorLightGray);
  padding: 1.5em 0;
}

.Review:last-of-type {
  border-bottom: none;
}

.Review header {
  display: flex;
  align-items: center;
}

.Review .Review-Feedback {
  display: flex;
  margin: 1em 0;
}

.Review .Review-Feedback svg {
  width: 1.5em;
  height: 1.5em;
}

.Review .Review-Feedback > p {
  display: inline-block;
  margin: 0 0 0 1em;
}