.GuestReviews {
  width: 100%;
  margin: 0 auto;
}

.GuestReviews .GuestReviews-Container {
  max-width: 90%;
  width: 1200px;
  margin: 2.5em auto;
  position: relative;
  height: 100%
}

.GuestReviews .GuestReviews-Container header {
  margin: 0 0 2.5em 0;
  color: var(--colorWhite);
  font-family: var(--fontFamilySFProSemiBold);
}

.GuestReviews .GuestReviews-Container header > h1 {
  margin: 0;
}

.GuestReviews .GuestReviews-Container header > p {
  font-family: var(--fontFamilySFProMedium);
  margin: 0;
}

.GuestReviews .GuestReviews-Bg-Image {
  height: 700px;
  width: 100%;
  background-image: url('/background.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.GuestReviews .GuestReviews-Bg-Mask {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(23,55,83,0.1), rgba(4,21,35,0.87));
}

.GuestReviews .GuestReviews-Bg-Shape-Left {
  width: 100%;
  height: 10em;
  background-color: var(--colorWhite);
  position: absolute;
  bottom: 0;
  transform: rotate(6deg) translateX(30%);
  left: -50%;
}

.GuestReviews .GuestReviews-Bg-Shape-Right {
  width: 100%;
  height: 10em;
  background-color: var(--colorWhite);
  position: absolute;
  bottom: 0;
  transform: rotate(-6deg) translateX(-30%);
  right: -50%;
}

.GuestReviews .GuestReviews-Container-Main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
  .GuestReviews .GuestReviews-Container-Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}